## In Vehicle Coupon Recommendation

source
https://archive.ics.uci.edu/dataset/603/in+vehicle+coupon+recommendation

check page 22
https://jmlr.org/papers/volume18/16-003/16-003.pdf

Y column indicates whether the person accepts coupon or not,
Answers that the user will drive there ‘right away’ or ‘later before the coupon expires’ are labeled as ‘Y = 1’ and answers ‘no, I do not want the coupon’ are labeled as ‘Y = 0’.

In [1]:
import pandas as pd
from plotnine import *

In [2]:
df = pd.read_csv("./in-vehicle-coupon-recommendation.csv")

In [3]:
df.sample(3)

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
2623,Work,Alone,Sunny,80,7AM,Carry out & Take away,2h,Female,41,Married partner,...,1~3,1~3,1~3,less1,1,0,0,1,0,1
7219,No Urgent Place,Kid(s),Snowy,30,6PM,Bar,1d,Male,36,Unmarried partner,...,never,1~3,less1,never,1,1,0,0,1,0
12287,No Urgent Place,Friend(s),Snowy,30,2PM,Restaurant(<20),1d,Female,50plus,Widowed,...,never,4~8,1~3,NaN,1,0,0,0,1,1